In [1]:
import pymysql
import matplotlib.pyplot as plt
import pandas as pd
import os

In [2]:
# Obviously this is a local database. Not the actual prod password.
conn = pymysql.connect(host='127.0.0.1', user='anubis', database='anubis', password='anubis')
with conn.cursor() as cursor:
    cursor.execute('select * from submission;')
    raw_submissions = cursor.fetchall()
    
    submissions = pd.DataFrame(
        data=raw_submissions, 
        columns=['id', 'owner_id', 'assignment_id', 'assignment_repo_id', 'created', 
                'last_updated', 'commit', 'processed', 'state', 'errors', 'token'])

    submissions = submissions[['id', 'owner_id', 'assignment_id', 'processed', 'created']]
    submissions['created'] = submissions['created'].apply(lambda date: pd.to_datetime(date).round('H'))
    submissions.to_csv('submissions.csv')
conn.close()

submissions = pd.read_csv('./submissions.csv')
submissions.head(10)

,Unnamed: 0,id,owner_id,assignment_id,processed,created
0,0,00044b79acda808c0740aa7b8ebf076d,bfd0a8e8637b6b5c177c198283cbc7a7,5e76e10b27fa96a1051eb6e5d1ca419e,1,2021-02-22 05:00:00
1,1,0004bca0243745f02ccd42d272453b21,ad53eef87f416e2aa28d142f6a30640f,5e76e10b27fa96a1051eb6e5d1ca419e,1,2021-02-22 01:00:00
2,2,0006e35856c6dbcc0ce85f90aec4b9a2,d0b4d5426dbcb8fbce8aa6b50764ef39,5e76e10b27fa96a1051eb6e5d1ca419e,1,2021-02-15 19:00:00
3,3,0014d157767f9f568bbbb40d47a74f4f,1672da03189a845115a335b882595318,5e76e10b27fa96a1051eb6e5d1ca419e,1,2021-02-19 17:00:00
4,4,001a1e2053349588704cc91a897c907a,1760baf39c6da3235c02382b7d2a71cb,5e76e10b27fa96a1051eb6e5d1ca419e,1,2021-02-21 02:00:00
5,5,002436f2f829bcc733983e54ecfaac22,1089ee864e9a4b22a549ac10784cbc97,5e76e10b27fa96a1051eb6e5d1ca419e,1,2021-02-21 22:00:00
6,6,0026afb5affb0d05356868d98aa7acd4,577e922a460783564430d8a8812b6bfe,5e76e10b27fa96a1051eb6e5d1ca419e,1,2021-02-09 13:00:00
7,7,002a079817f83691a745ead547ff6592,d04d03c46bbbd1f2742aff3b154f9f2e,5e76e10b27fa96a1051eb6e5d1ca419e,1,2021-02-16 21:00:00
8,8,0031a3d6a8702043f563362d6b1e6a7b,9a0f43dce974af4bd9b15fc616ba407e,5e76e10b27fa96a1051eb6e5d1ca419e,1,2021-02-21 18:00:00
9,9,003732e96de4a802c6f8cb253a0cd1de,7e98170c0c79c9110c1fea8f196c61a4,5e76e10b27fa96a1051eb6e5d1ca419e,1,2021-02-20 02:00:00

In [3]:
# Obviously this is a local database. Not the actual prod password.
conn = pymysql.connect(host='127.0.0.1', user='anubis', database='anubis', password='anubis')
with conn.cursor() as cursor:
    cursor.execute('select * from theia_session;')
    raw_theia_sessions = cursor.fetchall()
    
    theia_sessions = pd.DataFrame(
        data=raw_theia_sessions, 
        columns=['id', 'owner_id', 'assignment_id', 'active', 'state', 'cluster_address', 
                'created', 'ended', 'last_heartbeat', 'last_proxy', 'last_updated',
                'image', 'network_locked', 'options', 'privileged', 'repo_url'])

    theia_sessions = theia_sessions[['id', 'owner_id', 'assignment_id', 'created', 'ended']]
    theia_sessions['created'] = theia_sessions['created'].apply(lambda date: pd.to_datetime(date).round('H'))
    theia_sessions['ended'] = theia_sessions['ended'].apply(lambda date: pd.to_datetime(date).round('H'))
    theia_sessions['duration'] = theia_sessions[['ended', 'created']].apply(lambda row: (row[0] - row[1]).seconds / 60, axis=1)
    theia_sessions = theia_sessions[np.abs(theia_sessions.duration-theia_sessions.duration.mean())<=(3*theia_sessions.duration.std())] # Drop outliers based on duration
    theia_sessions.to_csv('./theia_sessions.csv')
conn.close()

theia_sessions = pd.read_csv('./theia_sessions.csv')
theia_sessions.head(10)

,Unnamed: 0,id,owner_id,assignment_id,created,ended,duration
0,0,000a15ee7b437325948ab56305ba8258,fed53421bb09f7cda0d0e42b8166a43e,5e76e10b27fa96a1051eb6e5d1ca419e,2021-02-13 00:00:00,2021-02-13 01:00:00,60.0
1,1,0091b4e13d51478f7a1e6e3912254d24,51958feaa8e348c6d2fa4b60ce83904b,5e76e10b27fa96a1051eb6e5d1ca419e,2021-02-20 19:00:00,2021-02-20 19:00:00,0.0
2,2,0132f1de433fa27d9b50d4190ca69bd1,d4c09e0307a0cb59ba4c608f4c84c9d2,5e76e10b27fa96a1051eb6e5d1ca419e,2021-02-18 21:00:00,2021-02-18 23:00:00,120.0
3,3,013853270a5f3a01afe237ca0f601dbe,e28f616ae34d5c06c4da7f3004fa70e0,5e76e10b27fa96a1051eb6e5d1ca419e,2021-02-22 07:00:00,2021-02-22 07:00:00,0.0
4,4,01bb51e51a189657b17ff89b89daa7ac,f8b00a5c001af7f886a6b9c2d65aefdf,5e76e10b27fa96a1051eb6e5d1ca419e,2021-02-21 12:00:00,2021-02-21 18:00:00,360.0
5,5,01eb0f3135205f36d4128695b0ac279f,eb4bf7344af7e0ed10518f17be896ee5,5e76e10b27fa96a1051eb6e5d1ca419e,2021-02-21 03:00:00,2021-02-21 03:00:00,0.0
6,6,01f1a419d064e6d4064650bab83142f1,4a5e191920d125a6312d6c8d8176f352,5e76e10b27fa96a1051eb6e5d1ca419e,2021-02-21 17:00:00,2021-02-21 18:00:00,60.0
7,7,02075d8df48946c926a1a9c5fd46a3a0,29544fa3ae9c6e832dd9997b6753dc6f,5e76e10b27fa96a1051eb6e5d1ca419e,2021-02-21 20:00:00,2021-02-21 20:00:00,0.0
8,8,023f1ea24fb76b889f3c1a3c3e1144f1,55215c36c8c501c60ac0346c5bf7bade,5e76e10b27fa96a1051eb6e5d1ca419e,2021-02-17 23:00:00,2021-02-18 00:00:00,60.0
9,9,02fbd52f0623d52b481d1e240bb51ff2,30af8096395c66da4666c2f33c06f387,5e76e10b27fa96a1051eb6e5d1ca419e,2021-02-22 03:00:00,2021-02-22 04:00:00,60.0